.sidebar{
    width: 15%;
    background: #3ada9c;
}

mat-grid-tile {
    background: lightblue;
  }
  .example-form {
    width: 100%;
    flex-direction: column;
    width: 60%;
    margin-left: 25%;
    margin-top: 12%;
    margin-bottom: 10px;
  }
  
  .pull-right {
    flex: 1 1 auto;
  }
  .color-sidenav {
    width: 20%;
    background: cadetblue;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    overflow-x: hidden;
    padding-top: 20px;
}
