.example-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 37%;
  margin-top: 20px;
}
.mat-form-field {
  display: block;
  position: relative;
  flex: auto;
  min-width: 12px;
  width: 280px;
  /* margin-left: -1px; */
}
.example-form {
  flex-direction: column;
  width: 80%;
  margin-left: 20%;
  margin-top: 135px;
  margin-bottom: 10px;
  display: inline-block;
}

.btn, .btn-large {
text-decoration: none;
color: #fff;
background-color :#03A9F3;
text-align: center;
letter-spacing: .5px;
-webkit-transition: .2s ease-out;
transition: .2s ease-out;
cursor: pointer; 
}